
.title{
    width: 15.5vw;
    height: 15.5vw;
    border-radius: 50%;
    position: absolute;
    left: 1.3%;
    top: 3%;
    box-shadow: 
    inset .1em .5em .2em purple;
    animation: rotate1 8s infinite linear reverse;
}
.title1{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    top: 6%;
    box-shadow: 
    inset -.1em -.3em .1em rgba(155, 72, 199, 0.836);
    animation: rotate 10s infinite linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0);

    }
    
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate1 {
    0%{
        transform: rotate(0);
        filter: blur(5px);
    }
    
    100%{
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

.q{
    animation: quiz 5.5s infinite linear alternate-reverse, 
    quiz-r 4.5s infinite linear alternate-reverse ;    
    position: absolute;
    left:3.5%;
    top: 15%;
}
.u{
    animation: quizu 5.5s infinite linear alternate-reverse, 
    quizu-r 4.5s infinite linear alternate-reverse ;  
    position: absolute;
    left:6.5%;
    top: 15%;
}
.i{
    animation: quiz 5.5s infinite linear alternate-reverse, 
    quiz-r 4.5s infinite linear alternate-reverse ; 
    position: absolute;
    left:9.7%;
    top: 15%;
}
.z{
    animation: quizu 5.5s infinite linear alternate-reverse, 
    quizu-r 4.5s infinite linear alternate-reverse ;
    position: absolute;
    left:11.3%;
    top: 15%;
}
.span{
    position: relative;
    width: 100%;
    height: 6vw;
    background-color: aqua;
}
@keyframes quiz {
    0%{
        transform: rotateX(-33deg);
        transform: scale(30px);
        text-shadow: purple 0px 0px 33px;
        top: 14%;
    }
    33%{
        transform: skewX(-5deg);
        transform: scale(33px);
        opacity: 0;

    }
    66%{
        transform: skewX(-8deg);
        transform: scale(35px);

    }
    100%{
        transform : skewX(-13deg);
        transform: scale(38px);
        color: purple;
        text-shadow:  purple 0px 0px 33px;
    }
}

@keyframes quiz-r {
    0%{
        transform: scale(30px);
        transition: 1s;
    }
    33%{
        transform: skewX(5deg);
        transform: scaleX(33px);
        transform: rotateY(0deg);

    }
    66%{
        transform: skewX(8deg);
        transform: scale(35px);
        transform: rotateY(180deg);

    }
    100%{
        transform: skewX(13deg);
        transform: scale(38px);
        filter: blur(1px);
        text-shadow: purple 0px 0px 13px;
        height: 15vw;

    }
}
/* ================================= animacão letra u */

@keyframes quizu {
    0%{
        transform: rotate(-33deg);
        transform: scale(40px);
    }
    33%{
        transform: skewX(5deg);
        transform: scale(43px);

    }
    66%{
        transform: skewX(8deg);
        transform: scale(45px);
        height: 5vw;
        top: 14%;

    }
    100%{
        transform: skewX(13deg);
        transform: scale(48px);
        text-shadow: purple 0px 0px 33px;
        filter: blur(1px);
        height: 15vw;
        color: purple;

    }
}
@keyframes quizu-r {
    0%{
        transform: scale(40px);
    }
    33%{
        transform: skewX(-5deg);
        transform: scaleX(43px);
        transform: rotateY(0deg);

    }
    66%{
        transform: skewX(-8deg);
        transform: scale(45px);
        transform: rotateY(180deg);

    }
    100%{
        transform: skewX(-13deg);
        transform: scale(48px);
        text-shadow: purple 0px 0px 33px;

    }
}
span{
    font-size: 4vw;
}